src/main/resources/com/anzepintar/ozrpp/schemas/tmx/tmx15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  TMX (Translation Memory eXchange)
  
  Known as "-//LISA OSCAR:1998//DTD for Translation Memory eXchange//EN"
  Use in TMX: <!DOCTYPE tmx SYSTEM "tmx15.dtd">
  
  An SGML application conforming to:
  - International Standard ISO 8879 Standard Generalized Markup Language, 
  - XML (Extensible Markup Language), W3C Recommendation
  
  All TMX element and attribute names must be in lowercase.
  
-->
<!--
  version 1.5 ==========================================================
  
  modifications 2011 June 30 by Arle Lommel:
     - change in version number to match specification version number
       with removal of LISA copyright and assignment to the localization
       community
     - This version is otherwise identical to TMX 1.4b.
  
  =======================================================================
-->
<!--
  version 1.4 ==========================================================
  
  modifications Jul-10-2002 by YS (from conference call motion)
     - reverse x to optional (version 1.4a)
  
  modifications Jun-05-2002 by YS (from Washington meeting follow-up)
     - deprecated the <ut> element
     - made x required
     - Becomes TMX version 1.4
  
  =======================================================================
-->
<!--
  version 1.3 ==========================================================
  
  modifications Nov-08-2001 by YS (corrections)
     - added fixed value for version value of <tmx> element
  
  modifications Sep-05-2001 by YS (corrections)
     - put back lang in the DTD for backward compatibility
  
  modifications Aug-29-2001 by YS (corrections)
     - lang is deprecated and replaced by xml:lang
     - Becomes TMX version 1.3
  
  =======================================================================
-->
<!--
  version 1.2 ==========================================================
  
  modifications Jun-26-2001 by YS (corrections)
     - removed extra comma after #IMPLIED for datatype for <sub>
     - added missing * for <hi>
  
  modifications May-11-2000 by YS (corrections)
     - type added to <sub>
  
  modifications May-10-2000 by YS (from Shigemichi corrections)
     - <sub> cannot be in <seg> and <hi>
     - datatype added to <sub>
  
  modifications May-05-2000 by YS (from Washington meeting action items)
     - Added the optional <hi> element in <seg>, to allow user-defined markers.
     - TMX readers should now support UTF-8
     - Becomes TMX version 1.2
  
  =======================================================================
-->
<!--
  version 1.1 ==========================================================
  
  modifications Apr-23-1999 by YS (from Boston meeting action items)
     - Added "block" to the list of segtypes allowed
  
  modifications Aug-12-1998 by JH
     - Update to Final TMX 1.1 version
  
  modifications Jun-12-1998 by JH
     - added entities amp, gt, lt, quot and apos for backwards compatibility
       with SGML tools.   
  
  modifications Jun-11-1998 by YS (from Granada meeting action items)
     - srclang is now mandatory in <header>
     - added creationtoolversion attribute
     - replaced <bm>/<em>/<ph>/<be>/<ee> by <bsf>/<esf>/<it>/<bpt>/<ept>
     - added pos and assoc attributes to <it> 
  
  modifications Apr-10-1998 by YS
     - changed n attribute in <be>, <ee>, <bm>, <em> and <ph> to i and x
     - removed the match attribute from <tu>
     - made various sgml syntax corrections
  
  modifications Apr-07-1998 by JH
     - changed the attribute for <tu> from id to tuid
  
  modifications Mar-31-1998 by JH changed:
     - changed match attribute to NUMBER
     - note: we still get a warning from nsgmls: NUMBER or NUMBERS declared value
  
  modifications Mar-25-1998 by YS (from Salt-Lake City meeting action items)
     - added the "-//" for non-registered DTD name
     - added note about lowercase requirement
     - added base attribute to <ude>
     - removed the <meta> element
     - renamed name attribute of <prop> by type
     - added <be>, <ee>, <bm>, <em> and <ph> elements (Content)
     - add the match attribute to <tu>
  
  modifications Nov-25-1997 by YS
     - synchronized <TU> and <TUV> for CREATIONTOOL and DATATYPE
  
  modifications Nov-24-1997 by YS
     - corrected CODESET into O-ENCODING for the <NOTE> element
  
  modifications Nov-22-1997 by YS (from San-Diego meeting action items)
     - added <BODY>, <UDE> and <MAP/> element
     - replaced NMTOKEN by CDATA for all NAME attributes
     - renamed xxxUSER attributes into xxxID
     - removed DIRECTIONS attribute
     - renamed ORIGINAL into SRCLANG
     - renamed CODESET into O-ENCODING
     - added O-TMF attribute for <HEADER>
     - added SEGTYPE attribute for <HEADER> and <TU>
     - added ADMINLANG attribute in <HEADER>
  
  modifications Sep-16-1997 by YS
     - replaced "" by #implied for user-type and id attributes
  
  modifications Sep-12-1997 by AKM
     - added delimiters between content constituents of tu and tuv
     - removed parens around "EMPTY" in definition of meta
  
  =======================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:simpleType name="segtypes">
    <xs:restriction base="xs:token">
      <xs:enumeration value="block"/>
      <xs:enumeration value="paragraph"/>
      <xs:enumeration value="sentence"/>
      <xs:enumeration value="phrase"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- ELEM                CONTENT -->
  <!--
    ATTR       
    NAME                TYPE           DEFAULT
  -->
  <!-- Base Document Element -->
  <xs:element name="tmx">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header"/>
        <xs:element ref="body"/>
      </xs:sequence>
      <xs:attribute name="version" default="1.4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1.4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!-- Header -->
  <xs:element name="header">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="note"/>
        <xs:element ref="prop"/>
        <xs:element ref="ude"/>
      </xs:choice>
      <xs:attribute name="creationtool" use="required"/>
      <xs:attribute name="creationtoolversion" use="required"/>
      <xs:attribute name="segtype" use="required" type="segtypes"/>
      <xs:attribute name="o-tmf" use="required"/>
      <xs:attribute name="adminlang" use="required"/>
      <xs:attribute name="srclang" use="required"/>
      <xs:attribute name="datatype" use="required"/>
      <xs:attribute name="o-encoding"/>
      <xs:attribute name="creationdate"/>
      <xs:attribute name="creationid"/>
      <xs:attribute name="changedate"/>
      <xs:attribute name="changeid"/>
    </xs:complexType>
  </xs:element>
  <!-- Body -->
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tu"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- No attributes -->
  <!-- Note -->
  <xs:element name="note">
    <xs:complexType mixed="true">
      <xs:attribute name="o-encoding"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="lang"/>
    </xs:complexType>
  </xs:element>
  <!-- lang is deprecated: use xml:lang -->
  <!-- User-defined Encoding -->
  <xs:element name="ude">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="map"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="base"/>
    </xs:complexType>
  </xs:element>
  <!--
    Note: the base attribute is required if one or more <map>
    elements in the <ude> contain a code attribute.
  -->
  <!-- Character mapping -->
  <xs:element name="map">
    <xs:complexType>
      <xs:attribute name="unicode" use="required"/>
      <xs:attribute name="code"/>
      <xs:attribute name="ent"/>
      <xs:attribute name="subst"/>
    </xs:complexType>
  </xs:element>
  <!-- Property -->
  <xs:element name="prop">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="o-encoding"/>
      <xs:attribute name="lang"/>
    </xs:complexType>
  </xs:element>
  <!-- lang is deprecated: use xml:lang -->
  <!-- Translation Unit -->
  <xs:element name="tu">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="note"/>
          <xs:element ref="prop"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" ref="tuv"/>
      </xs:sequence>
      <xs:attribute name="tuid"/>
      <xs:attribute name="o-encoding"/>
      <xs:attribute name="datatype"/>
      <xs:attribute name="usagecount"/>
      <xs:attribute name="lastusagedate"/>
      <xs:attribute name="creationtool"/>
      <xs:attribute name="creationtoolversion"/>
      <xs:attribute name="creationdate"/>
      <xs:attribute name="creationid"/>
      <xs:attribute name="changedate"/>
      <xs:attribute name="segtype" type="segtypes"/>
      <xs:attribute name="changeid"/>
      <xs:attribute name="o-tmf"/>
      <xs:attribute name="srclang"/>
    </xs:complexType>
  </xs:element>
  <!-- Translation Unit Variant -->
  <xs:element name="tuv">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="note"/>
          <xs:element ref="prop"/>
        </xs:choice>
        <xs:element ref="seg"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="required"/>
      <xs:attribute name="o-encoding"/>
      <xs:attribute name="datatype"/>
      <xs:attribute name="usagecount"/>
      <xs:attribute name="lastusagedate"/>
      <xs:attribute name="creationtool"/>
      <xs:attribute name="creationtoolversion"/>
      <xs:attribute name="creationdate"/>
      <xs:attribute name="creationid"/>
      <xs:attribute name="changedate"/>
      <xs:attribute name="o-tmf"/>
      <xs:attribute name="changeid"/>
      <xs:attribute name="lang"/>
    </xs:complexType>
  </xs:element>
  <!-- lang is deprecated: use xml:lang -->
  <!-- Text -->
  <xs:element name="seg">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="bpt"/>
        <xs:element ref="ept"/>
        <xs:element ref="ph"/>
        <xs:element ref="it"/>
        <xs:element ref="hi"/>
        <xs:element ref="ut"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!-- Content Markup ================================================== -->
  <xs:element name="bpt">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sub"/>
      </xs:sequence>
      <xs:attribute name="i" use="required"/>
      <xs:attribute name="x"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ept">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sub"/>
      </xs:sequence>
      <xs:attribute name="i" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sub">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="bpt"/>
        <xs:element ref="ept"/>
        <xs:element ref="it"/>
        <xs:element ref="ph"/>
        <xs:element ref="hi"/>
        <xs:element ref="ut"/>
      </xs:choice>
      <xs:attribute name="datatype"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="it">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sub"/>
      </xs:sequence>
      <xs:attribute name="pos" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="begin"/>
            <xs:enumeration value="end"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="x"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ph">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sub"/>
      </xs:sequence>
      <xs:attribute name="x"/>
      <xs:attribute name="assoc"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hi">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="bpt"/>
        <xs:element ref="ept"/>
        <xs:element ref="it"/>
        <xs:element ref="ph"/>
        <xs:element ref="hi"/>
        <xs:element ref="ut"/>
      </xs:choice>
      <xs:attribute name="x"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <!-- The <ut> element is deprecated -->
  <xs:element name="ut">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sub"/>
      </xs:sequence>
      <xs:attribute name="x"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- End -->
